<div th:fragment="content">
    <div class="content-home">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 style="color: #564E5C; font-family: VnBlackH; margin-top: 10px; margin-bottom: 10px">Danh sách điểm</h2>
                <a th:href="@{/diem/add}" style="margin-top: 7px" class="btn btn-primary">
                    <i style="color: white" class="fas fa-plus"></i> Thêm mới
                </a>
            </div>
            <div th:if="${message}"id="success-message" class="alert alert-success" role="alert">
                <span th:text="${message}"></span>
            </div>
            <form th:action="@{/diem}" method="get">
                <div class="row">
                    <!-- Ô nhập Tên Sinh viên -->
                    <div class="col-md-2 mb-3">
                        <input type="text" name="tenSinhVien" class="form-control" placeholder="Nhập tên sinh viên ..."
                               th:value="${tenSinhVien}" />
                    </div>
                    <!-- Dropdown Chọn Môn học -->
                    <div class="col-md-2 mb-3">
                        <select name="idMonHoc" class="form-select">
                            <option value="" th:selected="${idMonHoc == null}">Chọn môn học</option>
                            <option th:each="mh : ${listMonHoc}" th:value="${mh.idMonHoc}" th:text="${mh.tenMonHoc}"
                                    th:selected="${mh.idMonHoc == idMonHoc}">
                            </option>
                        </select>
                    </div>
                    <!-- Nút Tìm kiếm -->
                    <div class="col-md-2 mb-3">
                        <button type="submit" class="btn btn-primary w-70">
                            <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
                        </button>
                    </div>
                    <!-- Nút Reset -->
                    <div class="col-md-2 mb-3" style="margin-left: -100px">
                        <a th:href="@{/diem}" class="btn btn-danger w-50">
                            <i class="fa-regular fa-circle-xmark"></i> Reset
                        </a>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã sinh viên</th>
                    <th>Họ tên</th>
                    <th>Môn học</th>
                    <th>Điểm số</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="d, stat : ${pages}">
                    <td th:text="${d.idDiem}"></td> <!-- STT bắt đầu từ 1 -->
                    <td th:text="${d.maSinhVien}"></td>
                    <td th:text="${d.hoTen}"></td>
                    <td th:text="${d.tenMonHoc}"></td>
                    <td th:text="${d.diemSo}"></td>
                    <td>
                        <!-- Link Chỉnh sửa -->
                        <a th:href="@{/diem/update/{id}(id=${d.idDiem})}">
                            <i style="color: #e18827; padding-right: 10px" class="fas fa-edit"></i>
                        </a>
                        <!-- Link Xóa -->
                        <a th:href="@{/diem/delete/{id}(id=${d.idDiem})}">
                            <i style="color: red" class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav th:if="${pages.totalElements > 0}">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 0}">
                        <a class="page-link" th:href="@{/diem(p=${currentPage - 1}, idGiangVien=${idGiangVien}, tenSinhVien=${tenSinhVien}, idMonHoc=${idMonHoc})}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, pages.totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active' : ''">
                        <a class="page-link" th:href="@{/diem(p=${i}, idGiangVien=${idGiangVien}, tenSinhVien=${tenSinhVien}, idMonHoc=${idMonHoc})}"
                           th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:if="${currentPage < totalPages - 1 }">
                        <a class="page-link" th:href="@{/diem(p=${currentPage + 1}, idGiangVien=${idGiangVien}, tenSinhVien=${tenSinhVien}, idMonHoc=${idMonHoc})}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
