<div th:fragment="header" class="header text-light d-flex justify-content-between align-items-center p-2">
    <div style="line-height: 20px; margin-left: 10px" class="left d-flex align-items-center">
        <h2>Quản Lý sinh viên</h2>
    </div>
    <div class="center">
        <span>Hi, <span th:text="${user.username}"></span></span>
    </div>
    <div style="margin-right: 20px; background-color: #377EA8!important;" class="right">
        <a th:href="@{/logout}" class="btn btn-light btn-sm">Log Out</a>
    </div>
</div>