<div th:fragment="sidebar">
    <ul class="navbar-nav">
        <li style="margin-top: 15px" class="nav-item active">
            <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/khoa-hoc}"><i class="fas fa-book"></i> Khoa học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/lop}"><i class="fas fa-users"></i> Lớp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sinh-vien}"><i class="fas fa-user-graduate"></i> Sinh viên</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/lich-day}"><i class="fas fa-chalkboard-teacher"></i> Quản lý lịch dạy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/mon-hoc}"><i class="fas fa-book-open"></i> Quản lý môn học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/diem}"><i class="fas fa-pencil-alt"></i> Quản lý điểm</a>
        </li>
    </ul>
</div>
